In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=3ba6623f33c63bdbfe4809d9ace4975e8f02ca080a46925a751afdc4ee72d2be
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit
from datetime import datetime

In [ ]:
spark=SparkSession.builder.appName('Pyspark SQL Functions').getOrCreate()

In [ ]:
spark

In [ ]:
data=[(1,'JohnDoe','2024-08-01',23,1000.50),
     (2,'Jane Smith','2024-08-02',34,2000.75),
     (3,'Jake White','2024-06-08',22,3600.50),
     (4,'Adithya Ram','2024-04-03',12,8500.00),
     (5,'Shikha Karmokar','2024-06-07',10,19000.00),
     (6,'Gautam gambir','2024-03-09',16,96000.00),
     (7,'Pranav Nagwekar','2024-02-12',19,15000.00),
     (8,'John Cena','2024-09-04',18,25000.00)]

In [ ]:
columns=['id','name','dob','age','salary']
df=spark.createDataFrame(data,columns)
df.show()

+---+---------------+----------+---+-------+
| id|           name|       dob|age| salary|
+---+---------------+----------+---+-------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|
|  2|     Jane Smith|2024-08-02| 34|2000.75|
|  3|     Jake White|2024-06-08| 22| 3600.5|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|
|  8|      John Cena|2024-09-04| 18|25000.0|
+---+---------------+----------+---+-------+

In [ ]:
from pyspark.sql.functions import col
df.select(col('name')).show()

+---------------+
|           name|
+---------------+
|        JohnDoe|
|     Jane Smith|
|     Jake White|
|    Adithya Ram|
|Shikha Karmokar|
|  Gautam gambir|
|Pranav Nagwekar|
|      John Cena|
+---------------+

In [ ]:
df_country_adithya=df.withColumn('country',lit('USA'))
df_country_adithya.show()

+---+---------------+----------+---+-------+-------+
| id|           name|       dob|age| salary|country|
+---+---------------+----------+---+-------+-------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|    USA|
|  2|     Jane Smith|2024-08-02| 34|2000.75|    USA|
|  3|     Jake White|2024-06-08| 22| 3600.5|    USA|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|    USA|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|    USA|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|    USA|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|    USA|
|  8|      John Cena|2024-09-04| 18|25000.0|    USA|
+---+---------------+----------+---+-------+-------+

In [ ]:
df.show()

+---+---------------+----------+---+-------+
| id|           name|       dob|age| salary|
+---+---------------+----------+---+-------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|
|  2|     Jane Smith|2024-08-02| 34|2000.75|
|  3|     Jake White|2024-06-08| 22| 3600.5|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|
|  8|      John Cena|2024-09-04| 18|25000.0|
+---+---------------+----------+---+-------+

In [ ]:
from pyspark.sql.functions import expr
df_age_adithya=df.withColumn('age_plus_5',expr('age + 5'))
df_age_adithya.show()

+---+---------------+----------+---+-------+----------+
| id|           name|       dob|age| salary|age_plus_5|
+---+---------------+----------+---+-------+----------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|        28|
|  2|     Jane Smith|2024-08-02| 34|2000.75|        39|
|  3|     Jake White|2024-06-08| 22| 3600.5|        27|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|        17|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|        15|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|        21|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|        24|
|  8|      John Cena|2024-09-04| 18|25000.0|        23|
+---+---------------+----------+---+-------+----------+

In [ ]:
from pyspark.sql.functions import when
df_classification=df.withColumn('classification',when(col('age')>=18,"adult").otherwise("Minor"))
df_classification

DataFrame[id: bigint, name: string, dob: string, age: bigint, salary: double, classification: string]

In [ ]:
from pyspark.sql.functions import substring
df_substring_adithya=df.withColumn('First_three_chars',substring(col('name'),1,3))
df_substring_adithya.show()

+---+---------------+----------+---+-------+-----------------+
| id|           name|       dob|age| salary|First_three_chars|
+---+---------------+----------+---+-------+-----------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|              Joh|
|  2|     Jane Smith|2024-08-02| 34|2000.75|              Jan|
|  3|     Jake White|2024-06-08| 22| 3600.5|              Jak|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|              Adi|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|              Shi|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|              Gau|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|              Pra|
|  8|      John Cena|2024-09-04| 18|25000.0|              Joh|
+---+---------------+----------+---+-------+-----------------+

In [ ]:
from pyspark.sql.functions import split
df_split_adithya=df.withColumn('name_array',split(col('name')," "))
df_split_adithya.show()

+---+---------------+----------+---+-------+------------------+
| id|           name|       dob|age| salary|        name_array|
+---+---------------+----------+---+-------+------------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|         [JohnDoe]|
|  2|     Jane Smith|2024-08-02| 34|2000.75|     [Jane, Smith]|
|  3|     Jake White|2024-06-08| 22| 3600.5|     [Jake, White]|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|    [Adithya, Ram]|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|[Shikha, Karmokar]|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|  [Gautam, gambir]|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|[Pranav, Nagwekar]|
|  8|      John Cena|2024-09-04| 18|25000.0|      [John, Cena]|
+---+---------------+----------+---+-------+------------------+

In [ ]:
from pyspark.sql.functions import regexp_replace
df_replace_adithya=df.withColumn('replaced_name',regexp_replace(col('name'),'Gautam','Gauti'))
df_replace_adithya.show()

+---+---------------+----------+---+-------+---------------+
| id|           name|       dob|age| salary|  replaced_name|
+---+---------------+----------+---+-------+---------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|        JohnDoe|
|  2|     Jane Smith|2024-08-02| 34|2000.75|     Jane Smith|
|  3|     Jake White|2024-06-08| 22| 3600.5|     Jake White|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|    Adithya Ram|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|Shikha Karmokar|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|   Gauti gambir|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|Pranav Nagwekar|
|  8|      John Cena|2024-09-04| 18|25000.0|      John Cena|
+---+---------------+----------+---+-------+---------------+

In [ ]:
from pyspark.sql.functions import count
df_count_adithya=df.agg(count('*').alias('total_count'))
df_count_adithya.show()

+-----------+
|total_count|
+-----------+
|          8|
+-----------+

In [ ]:
from pyspark.sql.functions import sum
df_sum_adithya=df.agg(sum('salary').alias('total_salary'))
df_sum_adithya.show()

+------------+
|total_salary|
+------------+
|   170101.75|
+------------+

In [ ]:
from pyspark.sql.functions import avg
df_avg=df.agg(avg('age').alias('average_age'))
df_avg.show()

+-----------+
|average_age|
+-----------+
|      19.25|
+-----------+

In [ ]:
from pyspark.sql.functions import max
df_max=df.agg(max('salary').alias('max_salary'))
df_max.show()

+----------+
|max_salary|
+----------+
|   96000.0|
+----------+

In [ ]:
from pyspark.sql.functions import min
df_min_adithya=df.agg(min('age').alias('min_age'))
df_min_adithya.show()

+-------+
|min_age|
+-------+
|     10|
+-------+

In [ ]:
from pyspark.sql.functions import round
df_round_adithya=df.withColumn('rounded_salary',round(col('salary'),0))
df_round_adithya.show()

+---+---------------+----------+---+-------+--------------+
| id|           name|       dob|age| salary|rounded_salary|
+---+---------------+----------+---+-------+--------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|        1001.0|
|  2|     Jane Smith|2024-08-02| 34|2000.75|        2001.0|
|  3|     Jake White|2024-06-08| 22| 3600.5|        3601.0|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|        8500.0|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|       19000.0|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|       96000.0|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|       15000.0|
|  8|      John Cena|2024-09-04| 18|25000.0|       25000.0|
+---+---------------+----------+---+-------+--------------+

In [ ]:
#date_format
#Formats the 'dob' column as MM/dd/yyyy.
from pyspark.sql.functions import date_format
df_date_format_adithya=df.withColumn('formatted_dob',date_format(col('dob'),'MM/dd/yyyy'))
df_date_format_adithya.show()

+---+---------------+----------+---+-------+-------------+
| id|           name|       dob|age| salary|formatted_dob|
+---+---------------+----------+---+-------+-------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|   08/01/2024|
|  2|     Jane Smith|2024-08-02| 34|2000.75|   08/02/2024|
|  3|     Jake White|2024-06-08| 22| 3600.5|   06/08/2024|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|   04/03/2024|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|   06/07/2024|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|   03/09/2024|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|   02/12/2024|
|  8|      John Cena|2024-09-04| 18|25000.0|   09/04/2024|
+---+---------------+----------+---+-------+-------------+

In [ ]:
#current_date
from pyspark.sql.functions import current_date
df_current_date_adithya=df.withColumn('current_date',current_date())
df_current_date_adithya.show()

+---+---------------+----------+---+-------+------------+
| id|           name|       dob|age| salary|current_date|
+---+---------------+----------+---+-------+------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|  2024-08-17|
|  2|     Jane Smith|2024-08-02| 34|2000.75|  2024-08-17|
|  3|     Jake White|2024-06-08| 22| 3600.5|  2024-08-17|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|  2024-08-17|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|  2024-08-17|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|  2024-08-17|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|  2024-08-17|
|  8|      John Cena|2024-09-04| 18|25000.0|  2024-08-17|
+---+---------------+----------+---+-------+------------+

In [ ]:
from pyspark.sql.functions import current_timestamp
df_current_timestamp_adithya=df.withColumn('current_timestamp',current_timestamp())
df_current_timestamp_adithya.show(truncate=False)

+---+---------------+----------+---+-------+--------------------------+
|id |name           |dob       |age|salary |current_timestamp         |
+---+---------------+----------+---+-------+--------------------------+
|1  |JohnDoe        |2024-08-01|23 |1000.5 |2024-08-17 08:06:29.641829|
|2  |Jane Smith     |2024-08-02|34 |2000.75|2024-08-17 08:06:29.641829|
|3  |Jake White     |2024-06-08|22 |3600.5 |2024-08-17 08:06:29.641829|
|4  |Adithya Ram    |2024-04-03|12 |8500.0 |2024-08-17 08:06:29.641829|
|5  |Shikha Karmokar|2024-06-07|10 |19000.0|2024-08-17 08:06:29.641829|
|6  |Gautam gambir  |2024-03-09|16 |96000.0|2024-08-17 08:06:29.641829|
|7  |Pranav Nagwekar|2024-02-12|19 |15000.0|2024-08-17 08:06:29.641829|
|8  |John Cena      |2024-09-04|18 |25000.0|2024-08-17 08:06:29.641829|
+---+---------------+----------+---+-------+--------------------------+

In [ ]:
from pyspark.sql.functions import year,month,dayofmonth
df_year=df.withColumn('year',year(col('dob')))
df_year.show()

+---+---------------+----------+---+-------+----+
| id|           name|       dob|age| salary|year|
+---+---------------+----------+---+-------+----+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|2024|
|  2|     Jane Smith|2024-08-02| 34|2000.75|2024|
|  3|     Jake White|2024-06-08| 22| 3600.5|2024|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|2024|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|2024|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|2024|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|2024|
|  8|      John Cena|2024-09-04| 18|25000.0|2024|
+---+---------------+----------+---+-------+----+

In [ ]:
from pyspark.sql.functions import date_add
df_date_add_adithya=df.withColumn('date_before_10_days',date_sub(col('dob'),10))
df_date_add_adithya.show()

+---+---------------+----------+---+-------+-------------------+
| id|           name|       dob|age| salary|date_before_10_days|
+---+---------------+----------+---+-------+-------------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|         2024-07-22|
|  2|     Jane Smith|2024-08-02| 34|2000.75|         2024-07-23|
|  3|     Jake White|2024-06-08| 22| 3600.5|         2024-05-29|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|         2024-03-24|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|         2024-05-28|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|         2024-02-28|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|         2024-02-02|
|  8|      John Cena|2024-09-04| 18|25000.0|         2024-08-25|
+---+---------------+----------+---+-------+-------------------+

In [ ]:
#date_sub
#Subtracts 10 days from the 'dob' column
from pyspark.sql.functions import date_sub
df_date_sub_adithya=df.withColumn('date_before_10_days',date_sub(col('dob'),10))
df_date_sub_adithya.show()

+---+---------------+----------+---+-------+-------------------+
| id|           name|       dob|age| salary|date_before_10_days|
+---+---------------+----------+---+-------+-------------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|         2024-07-22|
|  2|     Jane Smith|2024-08-02| 34|2000.75|         2024-07-23|
|  3|     Jake White|2024-06-08| 22| 3600.5|         2024-05-29|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|         2024-03-24|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|         2024-05-28|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|         2024-02-28|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|         2024-02-02|
|  8|      John Cena|2024-09-04| 18|25000.0|         2024-08-25|
+---+---------------+----------+---+-------+-------------------+

In [ ]:
#datediff
#Calculates the fifference in days between the current date and the 'dob'.
from pyspark.sql.functions import datediff
df_date_diff_adithya=df.withColumn('days_since_dob',datediff(current_date(),col('dob')))
df_date_diff_adithya.show()

+---+---------------+----------+---+-------+--------------+
| id|           name|       dob|age| salary|days_since_dob|
+---+---------------+----------+---+-------+--------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|            16|
|  2|     Jane Smith|2024-08-02| 34|2000.75|            15|
|  3|     Jake White|2024-06-08| 22| 3600.5|            70|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|           136|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|            71|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|           161|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|           187|
|  8|      John Cena|2024-09-04| 18|25000.0|           -18|
+---+---------------+----------+---+-------+--------------+

In [ ]:
from pyspark.sql.functions import to_date
df_to_date_adithya=df.withColumn('dob_as_date',to_date(col('dob'),'yyyy-MM-dd'))
df_to_date_adithya.show()

+---+---------------+----------+---+-------+-----------+
| id|           name|       dob|age| salary|dob_as_date|
+---+---------------+----------+---+-------+-----------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5| 2024-08-01|
|  2|     Jane Smith|2024-08-02| 34|2000.75| 2024-08-02|
|  3|     Jake White|2024-06-08| 22| 3600.5| 2024-06-08|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0| 2024-04-03|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0| 2024-06-07|
|  6|  Gautam gambir|2024-03-09| 16|96000.0| 2024-03-09|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0| 2024-02-12|
|  8|      John Cena|2024-09-04| 18|25000.0| 2024-09-04|
+---+---------------+----------+---+-------+-----------+

In [ ]:
#to_timestamp
#Convertsthe'dob' column from string to timestamp fortmat
from pyspark.sql.functions import to_timestamp
df_to_timestamp_adithya=df.withColumn('dob_as_timestamp',to_timestamp(col('dob'),'yyyy-MM-dd'))
df_to_timestamp_adithya.show(truncate=False)

+---+---------------+----------+---+-------+-------------------+
|id |name           |dob       |age|salary |dob_as_timestamp   |
+---+---------------+----------+---+-------+-------------------+
|1  |JohnDoe        |2024-08-01|23 |1000.5 |2024-08-01 00:00:00|
|2  |Jane Smith     |2024-08-02|34 |2000.75|2024-08-02 00:00:00|
|3  |Jake White     |2024-06-08|22 |3600.5 |2024-06-08 00:00:00|
|4  |Adithya Ram    |2024-04-03|12 |8500.0 |2024-04-03 00:00:00|
|5  |Shikha Karmokar|2024-06-07|10 |19000.0|2024-06-07 00:00:00|
|6  |Gautam gambir  |2024-03-09|16 |96000.0|2024-03-09 00:00:00|
|7  |Pranav Nagwekar|2024-02-12|19 |15000.0|2024-02-12 00:00:00|
|8  |John Cena      |2024-09-04|18 |25000.0|2024-09-04 00:00:00|
+---+---------------+----------+---+-------+-------------------+

In [ ]:
#window
#aggregates the salary over a sliding window of one day
from pyspark.sql.functions import window
df_window_adithya=df.withColumn('window',window(col('dob'),'1 day'))
df_window_adithya.show(truncate=False)

+---+---------------+----------+---+-------+------------------------------------------+
|id |name           |dob       |age|salary |window                                    |
+---+---------------+----------+---+-------+------------------------------------------+
|1  |JohnDoe        |2024-08-01|23 |1000.5 |{2024-08-01 00:00:00, 2024-08-02 00:00:00}|
|2  |Jane Smith     |2024-08-02|34 |2000.75|{2024-08-02 00:00:00, 2024-08-03 00:00:00}|
|3  |Jake White     |2024-06-08|22 |3600.5 |{2024-06-08 00:00:00, 2024-06-09 00:00:00}|
|4  |Adithya Ram    |2024-04-03|12 |8500.0 |{2024-04-03 00:00:00, 2024-04-04 00:00:00}|
|5  |Shikha Karmokar|2024-06-07|10 |19000.0|{2024-06-07 00:00:00, 2024-06-08 00:00:00}|
|6  |Gautam gambir  |2024-03-09|16 |96000.0|{2024-03-09 00:00:00, 2024-03-10 00:00:00}|
|7  |Pranav Nagwekar|2024-02-12|19 |15000.0|{2024-02-12 00:00:00, 2024-02-13 00:00:00}|
|8  |John Cena      |2024-09-04|18 |25000.0|{2024-09-04 00:00:00, 2024-09-05 00:00:00}|
+---+---------------+----------+---+-------+------------------------------------------+

In [ ]:
#rank,dense_rank,row_number
#applies ranking functions to the salary column
from pyspark.sql.window import Window
from pyspark.sql.functions import rank,dense_rank,row_number
windowSpec=Window.orderBy(col('salary').desc())
df.withColumn('rank',rank().over(windowSpec)).withColumn('dense_rank',dense_rank().over(windowSpec)).withColumn('row_number',row_number().over(windowSpec)).show()

+---+---------------+----------+---+-------+----+----------+----------+
| id|           name|       dob|age| salary|rank|dense_rank|row_number|
+---+---------------+----------+---+-------+----+----------+----------+
|  6|  Gautam gambir|2024-03-09| 16|96000.0|   1|         1|         1|
|  8|      John Cena|2024-09-04| 18|25000.0|   2|         2|         2|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|   3|         3|         3|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|   4|         4|         4|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|   5|         5|         5|
|  3|     Jake White|2024-06-08| 22| 3600.5|   6|         6|         6|
|  2|     Jane Smith|2024-08-02| 34|2000.75|   7|         7|         7|
|  1|        JohnDoe|2024-08-01| 23| 1000.5|   8|         8|         8|
+---+---------------+----------+---+-------+----+----------+----------+

In [ ]:
#array
#creates a new array column.
from pyspark.sql.functions import array
df_array_adithya=df.withColumn('array_column',array(col('id'),col('age')))
df_array_adithya.show()

+---+---------------+----------+---+-------+------------+
| id|           name|       dob|age| salary|array_column|
+---+---------------+----------+---+-------+------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|     [1, 23]|
|  2|     Jane Smith|2024-08-02| 34|2000.75|     [2, 34]|
|  3|     Jake White|2024-06-08| 22| 3600.5|     [3, 22]|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|     [4, 12]|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|     [5, 10]|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|     [6, 16]|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|     [7, 19]|
|  8|      John Cena|2024-09-04| 18|25000.0|     [8, 18]|
+---+---------------+----------+---+-------+------------+

In [ ]:
#array_contains
# checks if a specified element exists in an array column
from pyspark.sql.functions import array_contains
df_array_Contains_adithya=df.withColumn('contains_id_1',array_contains(array(col('id')),1))

df_array_Contains_adithya.show()

+---+---------------+----------+---+-------+-------------+
| id|           name|       dob|age| salary|contains_id_1|
+---+---------------+----------+---+-------+-------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|         true|
|  2|     Jane Smith|2024-08-02| 34|2000.75|        false|
|  3|     Jake White|2024-06-08| 22| 3600.5|        false|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|        false|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|        false|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|        false|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|        false|
|  8|      John Cena|2024-09-04| 18|25000.0|        false|
+---+---------------+----------+---+-------+-------------+

In [ ]:
#explode
#creates a new row for each element in the given array or map column
from pyspark.sql.functions import explode
df_explode_adithya=df.withColumn('exploded_array',explode(array(col('id'),col('age'))))
df_explode_adithya.show()

+---+---------------+----------+---+-------+--------------+
| id|           name|       dob|age| salary|exploded_array|
+---+---------------+----------+---+-------+--------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|             1|
|  1|        JohnDoe|2024-08-01| 23| 1000.5|            23|
|  2|     Jane Smith|2024-08-02| 34|2000.75|             2|
|  2|     Jane Smith|2024-08-02| 34|2000.75|            34|
|  3|     Jake White|2024-06-08| 22| 3600.5|             3|
|  3|     Jake White|2024-06-08| 22| 3600.5|            22|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|             4|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|            12|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|             5|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|            10|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|             6|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|            16|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|             7|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|            19|
|  8|      John Cena|2024-09-04| 18|25000.0|             8|
|  8|      John Cena|2024-09-04| 18|25000.0|            18|
+---+---------------+----------+---+-------+--------------+

In [ ]:
#map
#creates a new map column
from pyspark.sql.functions import create_map
df_map_adithya=df.withColumn('map_column',create_map(lit('name'),col('name'),lit('age'),col('age')))
df_map_adithya.show(truncate=False)

+---+---------------+----------+---+-------+------------------------------------+
|id |name           |dob       |age|salary |map_column                          |
+---+---------------+----------+---+-------+------------------------------------+
|1  |JohnDoe        |2024-08-01|23 |1000.5 |{name -> JohnDoe, age -> 23}        |
|2  |Jane Smith     |2024-08-02|34 |2000.75|{name -> Jane Smith, age -> 34}     |
|3  |Jake White     |2024-06-08|22 |3600.5 |{name -> Jake White, age -> 22}     |
|4  |Adithya Ram    |2024-04-03|12 |8500.0 |{name -> Adithya Ram, age -> 12}    |
|5  |Shikha Karmokar|2024-06-07|10 |19000.0|{name -> Shikha Karmokar, age -> 10}|
|6  |Gautam gambir  |2024-03-09|16 |96000.0|{name -> Gautam gambir, age -> 16}  |
|7  |Pranav Nagwekar|2024-02-12|19 |15000.0|{name -> Pranav Nagwekar, age -> 19}|
|8  |John Cena      |2024-09-04|18 |25000.0|{name -> John Cena, age -> 18}      |
+---+---------------+----------+---+-------+------------------------------------+

In [ ]:
#coalesce
#returns the first non null value among the given columns
from pyspark.sql.functions import coalesce
df_coolesce_adithya=df.withColumn('coolesced_value',coalesce(col('name'),col('age')))
df_coolesce_adithya.show()

+---+---------------+----------+---+-------+---------------+
| id|           name|       dob|age| salary|coolesced_value|
+---+---------------+----------+---+-------+---------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|        JohnDoe|
|  2|     Jane Smith|2024-08-02| 34|2000.75|     Jane Smith|
|  3|     Jake White|2024-06-08| 22| 3600.5|     Jake White|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|    Adithya Ram|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|Shikha Karmokar|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|  Gautam gambir|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|Pranav Nagwekar|
|  8|      John Cena|2024-09-04| 18|25000.0|      John Cena|
+---+---------------+----------+---+-------+---------------+

In [ ]:
#isnull
#checks if the column is null
from pyspark.sql.functions import isnull
df_isnull_adithya=df.withColumn('is_name_null',isnull(col('name')))
df_isnull_adithya.show()

+---+---------------+----------+---+-------+------------+
| id|           name|       dob|age| salary|is_name_null|
+---+---------------+----------+---+-------+------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|       false|
|  2|     Jane Smith|2024-08-02| 34|2000.75|       false|
|  3|     Jake White|2024-06-08| 22| 3600.5|       false|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|       false|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|       false|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|       false|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|       false|
|  8|      John Cena|2024-09-04| 18|25000.0|       false|
+---+---------------+----------+---+-------+------------+

In [ ]:
#isnan
#checks if the column is nan
from pyspark.sql.functions import isnan
df_isnan_adithya=df.withColumn('is_ge_nan',isnan(col('age')))
df_isnan_adithya.show()

+---+---------------+----------+---+-------+---------+
| id|           name|       dob|age| salary|is_ge_nan|
+---+---------------+----------+---+-------+---------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|    false|
|  2|     Jane Smith|2024-08-02| 34|2000.75|    false|
|  3|     Jake White|2024-06-08| 22| 3600.5|    false|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|    false|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|    false|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|    false|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|    false|
|  8|      John Cena|2024-09-04| 18|25000.0|    false|
+---+---------------+----------+---+-------+---------+

In [ ]:
#sha2
#Applies the sha2 hash function to the column
from pyspark.sql.functions import sha2
df_sha2_adithya=df.withColumn('sha2_hash',sha2(col('name'),256))
df_sha2_adithya.show(truncate=False)

+---+---------------+----------+---+-------+----------------------------------------------------------------+
|id |name           |dob       |age|salary |sha2_hash                                                       |
+---+---------------+----------+---+-------+----------------------------------------------------------------+
|1  |JohnDoe        |2024-08-01|23 |1000.5 |63d65bfe030ff5cbaac27bb8c9215bf7b1c635b3a8ed7ee9ad45eccf9e4b2e2f|
|2  |Jane Smith     |2024-08-02|34 |2000.75|a2dd3acadb1c9dcd956216993056a7f50a9db6e3a16c60b35482139b5349c288|
|3  |Jake White     |2024-06-08|22 |3600.5 |46dae60ac51d1dfbb195b62ca2a6c4fd76f0d0ef5e32ee32a3b9987bc30251ef|
|4  |Adithya Ram    |2024-04-03|12 |8500.0 |43143316d91bba10eaac3e65027eab248dcad32edc54273deccf2aba3f8b2583|
|5  |Shikha Karmokar|2024-06-07|10 |19000.0|5354dc81b7824fb2ec0d19b83f0447e315871f723d9a4aeb14ee2a8b0423c7e5|
|6  |Gautam gambir  |2024-03-09|16 |96000.0|af0fcd070d724af0083a5e4f7bfcfab269fad11503edaa874f97f671bbc043dc|
|7  |Pranav Nagwekar|2024-02-12|19 |15000.0|f95fdea49ef27ebdb508c0cf68fb08ec7eafa1cfca50a5099cc8602991c5e014|
|8  |John Cena      |2024-09-04|18 |25000.0|27ada68008e1516d8746de3efc54aeddf3d92854185a1e762b304abc19562c56|
+---+---------------+----------+---+-------+----------------------------------------------------------------+

In [ ]:
#md5
#calculates the MD5 hash of a column
from pyspark.sql.functions import md5
df_md5=df.withColumn('md5_hash',md5(col('name')))
df_md5.show(truncate=False)

+---+---------------+----------+---+-------+--------------------------------+
|id |name           |dob       |age|salary |md5_hash                        |
+---+---------------+----------+---+-------+--------------------------------+
|1  |JohnDoe        |2024-08-01|23 |1000.5 |9fd9f63e0d6487537569075da85a0c7f|
|2  |Jane Smith     |2024-08-02|34 |2000.75|71768b5e2a0b3697eb3c0c6d4ebbbaf8|
|3  |Jake White     |2024-06-08|22 |3600.5 |3ee9984296bc94702c3fa0b750b928fb|
|4  |Adithya Ram    |2024-04-03|12 |8500.0 |fc285211cb85cf7ea18c21bdd9152b84|
|5  |Shikha Karmokar|2024-06-07|10 |19000.0|175009fd6531979cfa09212e5baa44c2|
|6  |Gautam gambir  |2024-03-09|16 |96000.0|28954fb2ddc62f5ba89b23937b07a450|
|7  |Pranav Nagwekar|2024-02-12|19 |15000.0|d8151eca260c2326e2d87b0bad548ad3|
|8  |John Cena      |2024-09-04|18 |25000.0|107f995b277b862877d87a09c3008c44|
+---+---------------+----------+---+-------+--------------------------------+

In [ ]:
# Monotonically_increasing_id
# Generates a unique,montonically increasing 64-bit integer fro each row
from pyspark.sql.functions import monotonically_increasing_id
df_monotinically_increasing_id_adithya=df.withColumn('monotonically_increasing_id',monotonically_increasing_id())
df_monotinically_increasing_id_adithya.show()

+---+---------------+----------+---+-------+---------------------------+
| id|           name|       dob|age| salary|monotonically_increasing_id|
+---+---------------+----------+---+-------+---------------------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|                          0|
|  2|     Jane Smith|2024-08-02| 34|2000.75|                          1|
|  3|     Jake White|2024-06-08| 22| 3600.5|                          2|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|                          3|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|                 8589934592|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|                 8589934593|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|                 8589934594|
|  8|      John Cena|2024-09-04| 18|25000.0|                 8589934595|
+---+---------------+----------+---+-------+---------------------------+

In [ ]:
#Length
#returns the length of a string column
from pyspark.sql.functions import length
df_length_adithya=df.withColumn('name_column',length(col('name')))
df_length_adithya.show()

+---+---------------+----------+---+-------+-----------+
| id|           name|       dob|age| salary|name_column|
+---+---------------+----------+---+-------+-----------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|          7|
|  2|     Jane Smith|2024-08-02| 34|2000.75|         10|
|  3|     Jake White|2024-06-08| 22| 3600.5|         10|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|         11|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|         15|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|         13|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|         15|
|  8|      John Cena|2024-09-04| 18|25000.0|          9|
+---+---------------+----------+---+-------+-----------+

In [ ]:
#upper and lower
#converts all characters of a string column to upper or lower case
from pyspark.sql.functions import upper,lower
from pyspark.sql.functions import upper,lower
df_upper_lower=df.withColumn('name_upper',upper(col('name'))).withColumn('name_lower',lower(col('name')))
df_upper_lower.show()

+---+---------------+----------+---+-------+---------------+---------------+
| id|           name|       dob|age| salary|     name_upper|     name_lower|
+---+---------------+----------+---+-------+---------------+---------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|        JOHNDOE|        johndoe|
|  2|     Jane Smith|2024-08-02| 34|2000.75|     JANE SMITH|     jane smith|
|  3|     Jake White|2024-06-08| 22| 3600.5|     JAKE WHITE|     jake white|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|    ADITHYA RAM|    adithya ram|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|SHIKHA KARMOKAR|shikha karmokar|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|  GAUTAM GAMBIR|  gautam gambir|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|PRANAV NAGWEKAR|pranav nagwekar|
|  8|      John Cena|2024-09-04| 18|25000.0|      JOHN CENA|      john cena|
+---+---------------+----------+---+-------+---------------+---------------+

In [ ]:
#trim,ltrim,rtrim
#Trims spaces from both sides, lef sides , or right side of a string column
from pyspark.sql.functions import trim,ltrim,rtrim
df_all=df.withColumn('name_trimmed',trim(col('name'))).withColumn('name_ltrimmed',ltrim(col('name'))).withColumn('name_trimmed',rtrim(col('name')))
df_all.show()

+---+---------------+----------+---+-------+---------------+---------------+
| id|           name|       dob|age| salary|   name_trimmed|  name_ltrimmed|
+---+---------------+----------+---+-------+---------------+---------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|        JohnDoe|        JohnDoe|
|  2|     Jane Smith|2024-08-02| 34|2000.75|     Jane Smith|     Jane Smith|
|  3|     Jake White|2024-06-08| 22| 3600.5|     Jake White|     Jake White|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|    Adithya Ram|    Adithya Ram|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|Shikha Karmokar|Shikha Karmokar|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|  Gautam gambir|  Gautam gambir|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|Pranav Nagwekar|Pranav Nagwekar|
|  8|      John Cena|2024-09-04| 18|25000.0|      John Cena|      John Cena|
+---+---------------+----------+---+-------+---------------+---------------+

In [ ]:
#abs
#returns the absolute value of a numeric column
from pyspark.sql.functions import abs
df_abs_adithya=df.withColumn('abs_salary',abs(col('salary')-3000))
df_abs_adithya.show()

+---+---------------+----------+---+-------+----------+
| id|           name|       dob|age| salary|abs_salary|
+---+---------------+----------+---+-------+----------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|    1999.5|
|  2|     Jane Smith|2024-08-02| 34|2000.75|    999.25|
|  3|     Jake White|2024-06-08| 22| 3600.5|     600.5|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|    5500.0|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|   16000.0|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|   93000.0|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|   12000.0|
|  8|      John Cena|2024-09-04| 18|25000.0|   22000.0|
+---+---------------+----------+---+-------+----------+

In [ ]:
#sqrt
# returns the square root of a numeric column
from pyspark.sql.functions import sqrt
df_sqrt_adithya=df.withColumn('sqrt_age',sqrt(col('age')))
df_sqrt_adithya.show()

+---+---------------+----------+---+-------+------------------+
| id|           name|       dob|age| salary|          sqrt_age|
+---+---------------+----------+---+-------+------------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5| 4.795831523312719|
|  2|     Jane Smith|2024-08-02| 34|2000.75| 5.830951894845301|
|  3|     Jake White|2024-06-08| 22| 3600.5|  4.69041575982343|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|3.4641016151377544|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|3.1622776601683795|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|               4.0|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0| 4.358898943540674|
|  8|      John Cena|2024-09-04| 18|25000.0| 4.242640687119285|
+---+---------------+----------+---+-------+------------------+

In [ ]:
#exp
#Computes the exponential mof the given below
from pyspark.sql.functions import exp
df_exp=df.withColumn('exp_age',exp(col('age')))
df_exp.show()

+---+---------------+----------+---+-------+--------------------+
| id|           name|       dob|age| salary|             exp_age|
+---+---------------+----------+---+-------+--------------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5| 9.744803446248903E9|
|  2|     Jane Smith|2024-08-02| 34|2000.75|5.834617425274549E14|
|  3|     Jake White|2024-06-08| 22| 3600.5| 3.584912846131592E9|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|  162754.79141900392|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|  22026.465794806718|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|   8886110.520507872|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|1.7848230096318728E8|
|  8|      John Cena|2024-09-04| 18|25000.0| 6.565996913733051E7|
+---+---------------+----------+---+-------+--------------------+

In [ ]:
#log,Log10,Log2
# Computes the algorithm of the column using a base of e,10 or 2
from pyspark.sql.functions import log,log10,log2
df_all_adithya=df.withColumn('log_age',log(col('age'))).withColumn('log10_age',log10(col('age'))).withColumn('log2_age',log2(col('age')))
df_all_adithya.show()

+---+---------------+----------+---+-------+------------------+------------------+------------------+
| id|           name|       dob|age| salary|           log_age|         log10_age|          log2_age|
+---+---------------+----------+---+-------+------------------+------------------+------------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|3.1354942159291497|1.3617278360175928| 4.523561956057013|
|  2|     Jane Smith|2024-08-02| 34|2000.75|3.5263605246161616|1.5314789170422551|  5.08746284125034|
|  3|     Jake White|2024-06-08| 22| 3600.5| 3.091042453358316|1.3424226808222062| 4.459431618637297|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|2.4849066497880004|1.0791812460476249|3.5849625007211565|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0| 2.302585092994046|               1.0|3.3219280948873626|
|  6|  Gautam gambir|2024-03-09| 16|96000.0| 2.772588722239781|1.2041199826559248|               4.0|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|2.9444389791664403|1.2787536009528289| 4.247927513443585|
|  8|      John Cena|2024-09-04| 18|25000.0|2.8903717578961645| 1.255272505103306| 4.169925001442312|
+---+---------------+----------+---+-------+------------------+------------------+------------------+

In [ ]:
#greatest and least
#Returns the greatest or least value of the list of columns
from pyspark.sql.functions import greatest,least
df_greatest=df.withColumn('greatest_value',greatest(col('id'),col('age')))
print(df_greatest.show())
df_least_adithya=df.withColumn('least_value',least(col('id'),col('age')))
print(df_least_adithya.show())

+---+---------------+----------+---+-------+--------------+
| id|           name|       dob|age| salary|greatest_value|
+---+---------------+----------+---+-------+--------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|            23|
|  2|     Jane Smith|2024-08-02| 34|2000.75|            34|
|  3|     Jake White|2024-06-08| 22| 3600.5|            22|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|            12|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|            10|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|            16|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|            19|
|  8|      John Cena|2024-09-04| 18|25000.0|            18|
+---+---------------+----------+---+-------+--------------+

None
+---+---------------+----------+---+-------+-----------+
| id|           name|       dob|age| salary|least_value|
+---+---------------+----------+---+-------+-----------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|          1|
|  2|     Jane Smith|2024-08-02| 34|2000.75|          2|
|  3|     Jake White|2024-06-08| 22| 3600.5|          3|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|          4|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|          5|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|          6|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|          7|
|  8|      John Cena|2024-09-04| 18|25000.0|          8|
+---+---------------+----------+---+-------+-----------+

None

In [ ]:
#pow
#raises the value of a column to the power of another column
from pyspark.sql.functions import pow
df_pow_adithya=df.withColumn('pow_result',pow(col('id'),col('age')))
df_pow_adithya.show(truncate=False)

+---+---------------+----------+---+-------+---------------------+
|id |name           |dob       |age|salary |pow_result           |
+---+---------------+----------+---+-------+---------------------+
|1  |JohnDoe        |2024-08-01|23 |1000.5 |1.0                  |
|2  |Jane Smith     |2024-08-02|34 |2000.75|1.7179869184E10      |
|3  |Jake White     |2024-06-08|22 |3600.5 |3.1381059609E10      |
|4  |Adithya Ram    |2024-04-03|12 |8500.0 |1.6777216E7          |
|5  |Shikha Karmokar|2024-06-07|10 |19000.0|9765625.0            |
|6  |Gautam gambir  |2024-03-09|16 |96000.0|2.821109907456E12    |
|7  |Pranav Nagwekar|2024-02-12|19 |15000.0|1.1398895185373144E16|
|8  |John Cena      |2024-09-04|18 |25000.0|1.8014398509481984E16|
+---+---------------+----------+---+-------+---------------------+

In [ ]:
from pyspark.sql.functions import round,bround
df_round=df.withColumn('rounded_salary',round(col('salary'),0))
print(df_round.show())
df_bround_adithya=df.withColumn('brounded_salary',bround(col('salary'),0))
print(df_bround_adithya.show())

+---+---------------+----------+---+-------+--------------+
| id|           name|       dob|age| salary|rounded_salary|
+---+---------------+----------+---+-------+--------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|        1001.0|
|  2|     Jane Smith|2024-08-02| 34|2000.75|        2001.0|
|  3|     Jake White|2024-06-08| 22| 3600.5|        3601.0|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|        8500.0|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|       19000.0|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|       96000.0|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|       15000.0|
|  8|      John Cena|2024-09-04| 18|25000.0|       25000.0|
+---+---------------+----------+---+-------+--------------+

None
+---+---------------+----------+---+-------+---------------+
| id|           name|       dob|age| salary|brounded_salary|
+---+---------------+----------+---+-------+---------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|         1000.0|
|  2|     Jane Smith|2024-08-02| 34|2000.75|         2001.0|
|  3|     Jake White|2024-06-08| 22| 3600.5|         3600.0|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|         8500.0|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|        19000.0|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|        96000.0|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|        15000.0|
|  8|      John Cena|2024-09-04| 18|25000.0|        25000.0|
+---+---------------+----------+---+-------+---------------+

None

In [ ]:
# degrees,radians
# Converts an angle from radians to degrees or from degrees ton radians
from pyspark.sql.functions import degrees,radians
df_degrees_adithya=df.withColumn('degrees_value',degrees(col('age')))
print(df_degrees.show())
df_radians_adithya=df.withColumn('radians_value',radians(col('age')))
print(df_radians.show())

+---+---------------+----------+---+-------+------------------+
| id|           name|       dob|age| salary|     degrees_value|
+---+---------------+----------+---+-------+------------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|1317.8029288008934|
|  2|     Jane Smith|2024-08-02| 34|2000.75| 1948.056503444799|
|  3|     Jake White|2024-06-08| 22| 3600.5| 1260.507149287811|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0| 687.5493541569879|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0| 572.9577951308232|
|  6|  Gautam gambir|2024-03-09| 16|96000.0| 916.7324722093172|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0| 1088.619810748564|
|  8|      John Cena|2024-09-04| 18|25000.0| 1031.324031235482|
+---+---------------+----------+---+-------+------------------+

None
+---+---------------+----------+---+-------+-------------------+
| id|           name|       dob|age| salary|      radians_value|
+---+---------------+----------+---+-------+-------------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5| 0.4014257279586958|
|  2|     Jane Smith|2024-08-02| 34|2000.75| 0.5934119456780721|
|  3|     Jake White|2024-06-08| 22| 3600.5| 0.3839724354387525|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|0.20943951023931956|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|0.17453292519943295|
|  6|  Gautam gambir|2024-03-09| 16|96000.0| 0.2792526803190927|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|0.33161255787892263|
|  8|      John Cena|2024-09-04| 18|25000.0| 0.3141592653589793|
+---+---------------+----------+---+-------+-------------------+

None

In [ ]:
# signum
# Computes the signum of a number : -1 if it's negative, 0 if it's zero, and 1 if it's positive
from pyspark.sql.functions import signum
df_signum_adithya=df.withColumn('signum_value',signum(col('age')))
df_signum_adithya.show()

+---+---------------+----------+---+-------+------------+
| id|           name|       dob|age| salary|signum_value|
+---+---------------+----------+---+-------+------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|         1.0|
|  2|     Jane Smith|2024-08-02| 34|2000.75|         1.0|
|  3|     Jake White|2024-06-08| 22| 3600.5|         1.0|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|         1.0|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|         1.0|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|         1.0|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|         1.0|
|  8|      John Cena|2024-09-04| 18|25000.0|         1.0|
+---+---------------+----------+---+-------+------------+

In [ ]:
# hex,unhex
# converts a column to hexadecimal and back
from pyspark.sql.functions import hex,unhex
df_all_adithya=df.withColumn('hex_name',hex(col('id'))).withColumn('unhex_name',unhex(hex(col('id'))))
df_all_adithya.show()

+---+---------------+----------+---+-------+--------+----------+
| id|           name|       dob|age| salary|hex_name|unhex_name|
+---+---------------+----------+---+-------+--------+----------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|       1|      [01]|
|  2|     Jane Smith|2024-08-02| 34|2000.75|       2|      [02]|
|  3|     Jake White|2024-06-08| 22| 3600.5|       3|      [03]|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|       4|      [04]|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|       5|      [05]|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|       6|      [06]|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|       7|      [07]|
|  8|      John Cena|2024-09-04| 18|25000.0|       8|      [08]|
+---+---------------+----------+---+-------+--------+----------+

In [ ]:
#nvl,nvl2
from pyspark.sql.functions import nvl,nvl2,col
df_nv1_adithya=df.withColumn('nvl_age',nvl(col('age'),col('id')))
print(df_nv1_adithya.show())
df_nvl2_adithya=df.withColumn('nvl2_age',nvl2(col('age'),col('id'),col('salary')))
print(df_nvl2_adithya.show())

+---+---------------+----------+---+-------+-------+
| id|           name|       dob|age| salary|nvl_age|
+---+---------------+----------+---+-------+-------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|     23|
|  2|     Jane Smith|2024-08-02| 34|2000.75|     34|
|  3|     Jake White|2024-06-08| 22| 3600.5|     22|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|     12|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|     10|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|     16|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|     19|
|  8|      John Cena|2024-09-04| 18|25000.0|     18|
+---+---------------+----------+---+-------+-------+

None
+---+---------------+----------+---+-------+--------+
| id|           name|       dob|age| salary|nvl2_age|
+---+---------------+----------+---+-------+--------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|     1.0|
|  2|     Jane Smith|2024-08-02| 34|2000.75|     2.0|
|  3|     Jake White|2024-06-08| 22| 3600.5|     3.0|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|     4.0|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|     5.0|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|     6.0|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|     7.0|
|  8|      John Cena|2024-09-04| 18|25000.0|     8.0|
+---+---------------+----------+---+-------+--------+

None

In [ ]:
#reverse
# Reverses the string in a column
from pyspark.sql.functions import reverse
df_reverse_adithya=df.withColumn('reversed_name',reverse(col('name')))
df_reverse_adithya.show()

+---+---------------+----------+---+-------+---------------+
| id|           name|       dob|age| salary|  reversed_name|
+---+---------------+----------+---+-------+---------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|        eoDnhoJ|
|  2|     Jane Smith|2024-08-02| 34|2000.75|     htimS enaJ|
|  3|     Jake White|2024-06-08| 22| 3600.5|     etihW ekaJ|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|    maR ayhtidA|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|rakomraK ahkihS|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|  ribmag matuaG|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|rakewgaN vanarP|
|  8|      John Cena|2024-09-04| 18|25000.0|      aneC nhoJ|
+---+---------------+----------+---+-------+---------------+

In [ ]:
#initcap
from pyspark.sql.functions import initcap
df_initcap_adithya=df.withColumn('capitalized_name',initcap(col('name')))
df_initcap_adithya.show()

+---+---------------+----------+---+-------+----------------+
| id|           name|       dob|age| salary|capitalized_name|
+---+---------------+----------+---+-------+----------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|         Johndoe|
|  2|     Jane Smith|2024-08-02| 34|2000.75|      Jane Smith|
|  3|     Jake White|2024-06-08| 22| 3600.5|      Jake White|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|     Adithya Ram|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0| Shikha Karmokar|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|   Gautam Gambir|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0| Pranav Nagwekar|
|  8|      John Cena|2024-09-04| 18|25000.0|       John Cena|
+---+---------------+----------+---+-------+----------------+

In [ ]:
#instr
from pyspark.sql.functions import instr
df_instr_adithya=df.withColumn('position_of_a',instr(col('name'),'a'))
print(df_instr_adithya.show())
print(df_instr_adithya.printSchema())

+---+---------------+----------+---+-------+-------------+
| id|           name|       dob|age| salary|position_of_a|
+---+---------------+----------+---+-------+-------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|            0|
|  2|     Jane Smith|2024-08-02| 34|2000.75|            2|
|  3|     Jake White|2024-06-08| 22| 3600.5|            2|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|            7|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|            6|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|            2|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|            3|
|  8|      John Cena|2024-09-04| 18|25000.0|            9|
+---+---------------+----------+---+-------+-------------+

None
root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- age: long (nullable = true)
 |-- salary: double (nullable = true)
 |-- position_of_a: integer (nullable = true)

None

In [ ]:
#Locate
from pyspark.sql.functions import locate
df_locate_adithya=df.withColumn('locate_doe',locate('doe',col('name')))
df_locate_adithya.show()

+---+---------------+----------+---+-------+----------+
| id|           name|       dob|age| salary|locate_doe|
+---+---------------+----------+---+-------+----------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|         0|
|  2|     Jane Smith|2024-08-02| 34|2000.75|         0|
|  3|     Jake White|2024-06-08| 22| 3600.5|         0|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|         0|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|         0|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|         0|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|         0|
|  8|      John Cena|2024-09-04| 18|25000.0|         0|
+---+---------------+----------+---+-------+----------+

In [ ]:
#soundex
from pyspark.sql.functions import soundex
df_soundex_adithya=df.withColumn('soundex_name',soundex(col('name')))
df_soundex_adithya.show()

+---+---------------+----------+---+-------+------------+
| id|           name|       dob|age| salary|soundex_name|
+---+---------------+----------+---+-------+------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|        J530|
|  2|     Jane Smith|2024-08-02| 34|2000.75|        J525|
|  3|     Jake White|2024-06-08| 22| 3600.5|        J230|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|        A336|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|        S226|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|        G352|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|        P651|
|  8|      John Cena|2024-09-04| 18|25000.0|        J525|
+---+---------------+----------+---+-------+------------+

In [ ]:
#Levenshtein
from pyspark.sql.functions import levenshtein
df_levenshtein_adithya=df.withColumn('levenshtein_distance',levenshtein(col('name'),lit('Jane Smith')))
df_levenshtein_adithya.show()

+---+---------------+----------+---+-------+--------------------+
| id|           name|       dob|age| salary|levenshtein_distance|
+---+---------------+----------+---+-------+--------------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|                   9|
|  2|     Jane Smith|2024-08-02| 34|2000.75|                   0|
|  3|     Jake White|2024-06-08| 22| 3600.5|                   4|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|                  11|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|                  13|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|                  10|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|                  12|
|  8|      John Cena|2024-09-04| 18|25000.0|                   8|
+---+---------------+----------+---+-------+--------------------+

In [ ]:
#conv
from pyspark.sql.functions import conv
df_conv_adithya=df.withColumn('binary_value',conv(col('id'),10,2))
df_conv_adithya.show()

+---+---------------+----------+---+-------+------------+
| id|           name|       dob|age| salary|binary_value|
+---+---------------+----------+---+-------+------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|           1|
|  2|     Jane Smith|2024-08-02| 34|2000.75|          10|
|  3|     Jake White|2024-06-08| 22| 3600.5|          11|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|         100|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|         101|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|         110|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|         111|
|  8|      John Cena|2024-09-04| 18|25000.0|        1000|
+---+---------------+----------+---+-------+------------+

In [ ]:
#translate
from pyspark.sql.functions import translate
df_translate_adithya=df.withColumn('translated_name',translate(col('name'),'0','a'))
df_translate_adithya.show()

+---+---------------+----------+---+-------+---------------+
| id|           name|       dob|age| salary|translated_name|
+---+---------------+----------+---+-------+---------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|        JohnDoe|
|  2|     Jane Smith|2024-08-02| 34|2000.75|     Jane Smith|
|  3|     Jake White|2024-06-08| 22| 3600.5|     Jake White|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|    Adithya Ram|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|Shikha Karmokar|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|  Gautam gambir|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|Pranav Nagwekar|
|  8|      John Cena|2024-09-04| 18|25000.0|      John Cena|
+---+---------------+----------+---+-------+---------------+

In [ ]:
#crc32
from pyspark.sql.functions import crc32
df_crc32_adithya=df.withColumn('crc32_name',crc32(col('name')))
df_crc32_adithya.show()

+---+---------------+----------+---+-------+----------+
| id|           name|       dob|age| salary|crc32_name|
+---+---------------+----------+---+-------+----------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|1579168729|
|  2|     Jane Smith|2024-08-02| 34|2000.75|3280634359|
|  3|     Jake White|2024-06-08| 22| 3600.5| 931505628|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|3428739529|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|3934425389|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|4201226789|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|1844703169|
|  8|      John Cena|2024-09-04| 18|25000.0|3916334451|
+---+---------------+----------+---+-------+----------+

In [ ]:
#uuid
from pyspark.sql.functions import expr
df_uuid_adithya=df.withColumn('uuid',expr('uuid()'))
df_uuid_adithya.show()

+---+---------------+----------+---+-------+--------------------+
| id|           name|       dob|age| salary|                uuid|
+---+---------------+----------+---+-------+--------------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|dd4d7993-65ad-470...|
|  2|     Jane Smith|2024-08-02| 34|2000.75|6c939e5d-12d6-4b9...|
|  3|     Jake White|2024-06-08| 22| 3600.5|7723e0ec-9437-4ec...|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|57ba2161-5d70-46b...|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|a8cbf57a-d456-4f7...|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|11130cb3-2723-46f...|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|d0b0118e-156a-402...|
|  8|      John Cena|2024-09-04| 18|25000.0|32812b6c-f13c-427...|
+---+---------------+----------+---+-------+--------------------+

In [ ]:
#percent_rank
from pyspark.sql.functions import percent_rank
windowSpec=Window.orderBy(col('salary').desc())
df_percent_rank_adithya=df.withColumn('percent_rank',percent_rank().over(windowSpec))
df_percent_rank_adithya.show()

+---+---------------+----------+---+-------+-------------------+
| id|           name|       dob|age| salary|       percent_rank|
+---+---------------+----------+---+-------+-------------------+
|  6|  Gautam gambir|2024-03-09| 16|96000.0|                0.0|
|  8|      John Cena|2024-09-04| 18|25000.0|0.14285714285714285|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0| 0.2857142857142857|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|0.42857142857142855|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0| 0.5714285714285714|
|  3|     Jake White|2024-06-08| 22| 3600.5| 0.7142857142857143|
|  2|     Jane Smith|2024-08-02| 34|2000.75| 0.8571428571428571|
|  1|        JohnDoe|2024-08-01| 23| 1000.5|                1.0|
+---+---------------+----------+---+-------+-------------------+

In [ ]:
#cume_dist
from pyspark.sql.functions import cume_dist
df_cume_dist_adithya=df.withColumn('cume_dist',cume_dist().over(windowSpec))
df_cume_dist_adithya.show()

+---+---------------+----------+---+-------+---------+
| id|           name|       dob|age| salary|cume_dist|
+---+---------------+----------+---+-------+---------+
|  6|  Gautam gambir|2024-03-09| 16|96000.0|    0.125|
|  8|      John Cena|2024-09-04| 18|25000.0|     0.25|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|    0.375|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|      0.5|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|    0.625|
|  3|     Jake White|2024-06-08| 22| 3600.5|     0.75|
|  2|     Jane Smith|2024-08-02| 34|2000.75|    0.875|
|  1|        JohnDoe|2024-08-01| 23| 1000.5|      1.0|
+---+---------------+----------+---+-------+---------+

In [ ]:
#ntile
from pyspark.sql.functions import ntile
df_ntile_adithya=df.withColumn('ntile',ntile(3).over(windowSpec))
df_ntile_adithya.show()

+---+---------------+----------+---+-------+-----+
| id|           name|       dob|age| salary|ntile|
+---+---------------+----------+---+-------+-----+
|  6|  Gautam gambir|2024-03-09| 16|96000.0|    1|
|  8|      John Cena|2024-09-04| 18|25000.0|    1|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|    1|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|    2|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|    2|
|  3|     Jake White|2024-06-08| 22| 3600.5|    2|
|  2|     Jane Smith|2024-08-02| 34|2000.75|    3|
|  1|        JohnDoe|2024-08-01| 23| 1000.5|    3|
+---+---------------+----------+---+-------+-----+

In [ ]:
#flatten
from pyspark.sql.functions import flatten
df_flatten_adithya=df.withColumn('flattened_array',flatten(array(array(lit(1),lit(2)),array(lit(3)))))
df_flatten_adithya.show()

+---+---------------+----------+---+-------+---------------+
| id|           name|       dob|age| salary|flattened_array|
+---+---------------+----------+---+-------+---------------+
|  1|        JohnDoe|2024-08-01| 23| 1000.5|      [1, 2, 3]|
|  2|     Jane Smith|2024-08-02| 34|2000.75|      [1, 2, 3]|
|  3|     Jake White|2024-06-08| 22| 3600.5|      [1, 2, 3]|
|  4|    Adithya Ram|2024-04-03| 12| 8500.0|      [1, 2, 3]|
|  5|Shikha Karmokar|2024-06-07| 10|19000.0|      [1, 2, 3]|
|  6|  Gautam gambir|2024-03-09| 16|96000.0|      [1, 2, 3]|
|  7|Pranav Nagwekar|2024-02-12| 19|15000.0|      [1, 2, 3]|
|  8|      John Cena|2024-09-04| 18|25000.0|      [1, 2, 3]|
+---+---------------+----------+---+-------+---------------+

In [ ]:
#grouping_id
from pyspark.sql.functions import grouping_id
from pyspark.sql import functions as F
df_grouping_sets_adithya=df.cube('age','salary').agg(grouping_id().alias('grouping_id'),F.sum("salary"))
df_grouping_sets_adithya.show()

+----+-------+-----------+-----------+
| age| salary|grouping_id|sum(salary)|
+----+-------+-----------+-----------+
|  12| 8500.0|          0|     8500.0|
|NULL| 3600.5|          2|     3600.5|
|NULL| 1000.5|          2|     1000.5|
|  22|   NULL|          1|     3600.5|
|  34|   NULL|          1|    2000.75|
|NULL| 8500.0|          2|     8500.0|
|NULL|   NULL|          3|  170101.75|
|  23|   NULL|          1|     1000.5|
|  22| 3600.5|          0|     3600.5|
|  34|2000.75|          0|    2000.75|
|NULL|2000.75|          2|    2000.75|
|  23| 1000.5|          0|     1000.5|
|  12|   NULL|          1|     8500.0|
|  10|19000.0|          0|    19000.0|
|NULL|15000.0|          2|    15000.0|
|  16|96000.0|          0|    96000.0|
|NULL|19000.0|          2|    19000.0|
|  10|   NULL|          1|    19000.0|
|  16|   NULL|          1|    96000.0|
|NULL|96000.0|          2|    96000.0|
+----+-------+-----------+-----------+
only showing top 20 rows

In [ ]:
#rollup
df_rollup_adithya = df.rollup("age", "salary").count()
df_rollup_adithya.show()

+----+-------+-----+
| age| salary|count|
+----+-------+-----+
|  12| 8500.0|    1|
|  22|   NULL|    1|
|  34|   NULL|    1|
|NULL|   NULL|    8|
|  23|   NULL|    1|
|  22| 3600.5|    1|
|  34|2000.75|    1|
|  23| 1000.5|    1|
|  12|   NULL|    1|
|  10|19000.0|    1|
|  16|96000.0|    1|
|  10|   NULL|    1|
|  16|   NULL|    1|
|  19|15000.0|    1|
|  18|25000.0|    1|
|  18|   NULL|    1|
|  19|   NULL|    1|
+----+-------+-----+

In [ ]:
#corr
from pyspark.sql.functions import corr

df_corr_adithya= df.select(corr(col("age"), col("salary")))
df_corr_adithya.show()

+-------------------+
|  corr(age, salary)|
+-------------------+
|-0.3301229777407388|
+-------------------+

In [ ]:
#collect_list
from pyspark.sql.functions import collect_list

df_all_adithya = df.groupBy("age").agg(collect_list("name").alias("names")).show()
df_all_adithya

+---+-----------------+
|age|            names|
+---+-----------------+
| 22|     [Jake White]|
| 34|     [Jane Smith]|
| 12|    [Adithya Ram]|
| 23|        [JohnDoe]|
| 19|[Pranav Nagwekar]|
| 10|[Shikha Karmokar]|
| 18|      [John Cena]|
| 16|  [Gautam gambir]|
+---+-----------------+